<body style='text-align: center;'>
  <% if @new_game.current_turn == @new_game.player_1 %>
    <h2><%= @new_game.player_1.name%> has attacked <%=@new_game.player_2.name%> </h2>
  <% else %>
    <h2><%= @new_game.player_2.name %> has attacked <%=@new_game.player_1.name%></h2>
  <% end %>

  <h2><%=@new_game.player_1.name %> HP: <%= @new_game.player_1.health %></h2>
  <h2><%=@new_game.player_2.name %> HP: <%= @new_game.player_2.health %></h2>

  <form action="/game_status" method="post">
    <input type="submit" value="OK">
  </form>
</body>
