
<h1> Ow! <%= @new_game.current_turn %> laid the smackdown on <%= @new_game.opponent_of(@new_game.current_turn) %>! </h1>

<h2><%= @new_game.opponent_of(@new_game.current_turn) %>'s turn </h2>

<h2><%=@new_game.player_1.name %> HP: <%= @new_game.player_1.health %></h2>
<h2><%=@new_game.player_2.name %> HP: <%= @new_game.player_2.health %></h2>


<form action="/aftermath" method="get">
  <input type="submit" value="ATTACK!">
</form
