<h1> <%= @game.current_player.name %> attacked <%= @game.non_current_player.name %> </h1>

<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<!-- <a href="/play">Switch Turns</a> -->

<a href="/switch">Switch Turns</a>
