<body style='text-align: center;'>
  <h1><%= @new_game.player_1.name %> vs. <%= @new_game.player_2.name %></h1>

  <h2><%=@new_game.player_1.name %> HP: <%= @new_game.player_1.health %></h2>
  <h2><%=@new_game.player_2.name %> HP: <%= @new_game.player_2.health %></h2>


  <form action="/attack">
    <input type="submit" value="ATTACK!">
  </form>

  <form action="/paralyse">
    <input type="submit" value="Paralyse!">
  </form>

  <form action="/poison">
    <input type="submit" value="Poison!">
  </form>

  <form action="/sleep">
    <input type="submit" value="Sleep!">
  </form>

  <form action="/heal">
    <input type="submit" value="Heal!">
  </form>
</body>
