<h1><%= @new_game.player_1.name %> vs. <%= @new_game.player_2.name %></h1>

<h2><%= @new_game.current_turn.name %>'s turn </h2>

<h2><%=@new_game.player_1.name %> HP: <%= @new_game.player_1.health %></h2>
<h2><%=@new_game.player_2.name %> HP: <%= @new_game.player_2.health %></h2>


<form action="/aftermath">
  <input type="submit" value="ATTACK!">
</form>
